@import "columns-grid-settings";                // <-- Define column grid parameters
                                                // Only used for columns grid.

@import "components/columns-grid-mixin";        // Columns based grid
@import "components/percentage-grid-mixin";     // Percent based grid
@import "components/floatingPoint-grid-mixin";  // Float-point based grid
@import "components/css-grid-mixin";            // Lightweight CSS Grid






/* - - - - - - - - - - BEGIN DEMO Styles - - - - - - - - - - */



$box-sizing  : border-box; // box model

$container   : 1024px;

.container {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $container;
}
.grid-container {
    @include simple-grid(1fr 1fr 1fr, auto, 1rem, 0 auto, 768px);
    div {
        background-color: black;
        color: white;
        padding: .5em;
    }
}
.blue-colp-fixed {
    color: #efefef;
    background: #58BEE0;
    @include colp(.25);
}
.red-colp-fixed {
    color: #efefef;
    background: #E05858;
    @include colp(.75);
}
.blue-colu-fixed {
    color: #efefef;
    background: #58BEE0;
    @include colu(2.4, 7);
}
.red-colu-fixed {
    color: #efefef;
    background: #E05858;
    @include colu(4.6, 7);
}
/* - - - - - - - - - - END DEMO Styles - - - - - - - - - - */