/* Column based on known percentages */
@mixin colp($percentage, $float-direction:left) {
    width: 100% * $percentage;
    float: $float-direction;
}


/* Column based on unknown percentages */
@function p($target, $context) {
    @return ($target / $context) * 100%;
}

@mixin colu($target, $context, $float-direction:left) {
    width: ($target / $context) * 100%;
    float: $float-direction;
}


/* Calculate font size based on defined $stepDown variable */
@mixin remCalc($n) {
    font-size: $n * $stepDown + rem;
}


/* Breakpoints based on defined $breakpoint-map */
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoint-map, $breakpoint) {
        @media #{inspect(map-get($breakpoint-map, $breakpoint))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, you have not set `#{$breakpoint}` as a valid breakpoint. "
            + "Make sure `#{$breakpoint}` is defined in `$breakpoints-map` in the `_settings.scss` file.";
    }
}